header {
    display: block;
}

.navbar {
    z-index: 1;
}

.nav-bhx {
    margin-top: -5px;
}

@media only screen and (max-width: 1200px) {
    .fas,
    .far {
        display: none !important;
    }
}

html,
body,
header {
    height: 100%;
}